.card__container {
    padding: 50px;
    display: flex;
    justify-content: center;
}

.card {
    width: 600px;
    height: 300px;
    display: flex;
    border: 2px solid rgba(41,184,229,1);
    align-items: center;
}

img {
    height: 250px;
    width: 330px;
}
